In [1]:
%load_ext autoreload
%autoreload 2

import sys
sys.path.append('..')

import src.data as scrapers

In [ ]:
df = scrapers.get_tickers()
df

,Ticker,Company Name,Exchange,Asset Type,IPO Date
0,-P-HIZ,Presurance Holdings Inc,NASDAQ,Stock,2023-08-30
1,A,Agilent Technologies Inc,NYSE,Stock,1999-11-18
2,AA,Alcoa Corp,NYSE,Stock,2016-10-18
3,AAA,ALTERNATIVE ACCESS FIRST PRIORITY CLO BOND ETF,NYSE ARCA,ETF,2020-09-09
4,AAAU,Goldman Sachs Physical Gold ETF,BATS,ETF,2018-08-15
...,...,...,...,...,...
12251,ZYN,Defiance Daily Target 2x Long PM ETF,NASDAQ,Stock,2025-09-04
12252,ZYNE,Zynerba Pharmaceuticals Inc,NASDAQ,Stock,2015-08-05
12253,ZYXI,Zynex Inc,NASDAQ,Stock,2012-07-23
12254,ZZK,,NYSE ARCA,Stock,2020-07-22
12255,ZZZ,TEST TICKER FOR UTP,NYSE ARCA,Stock,2014-10-31

In [22]:
df[df['Asset Type'] == 'ETF']

,Ticker,Company Name,Exchange,Asset Type,IPO Date
3,AAA,ALTERNATIVE ACCESS FIRST PRIORITY CLO BOND ETF,NYSE ARCA,ETF,2020-09-09
4,AAAU,Goldman Sachs Physical Gold ETF,BATS,ETF,2018-08-15
11,AADR,ADVISORSHARES DORSEY WRIGHT ADR ETF,NASDAQ,ETF,2010-07-21
13,AALG,Leverage Shares 2X Long AAL Daily ETF,NASDAQ,ETF,2025-07-11
22,AAPB,GRANITESHARES 2X LONG AAPL DAILY ETF,NASDAQ,ETF,2022-08-09
...,...,...,...,...,...
12226,ZSEP,Innovator Equity Defined Protection ETF - 1 Yr...,BATS,ETF,2024-09-03
12227,ZSL,ProShares UltraShort Silver -2x Shares,NYSE ARCA,ETF,2008-12-03
12230,ZTAX,X-Square Municipal Income Tax Free ETF,NYSE ARCA,ETF,2023-05-19
12234,ZTR,Virtus Total Return Fund Inc,NYSE,ETF,1989-06-30
12240,ZVOL,VOLATILITY PREMIUM PLUS ETF,BATS,ETF,2023-04-19

In [ ]:
df[df['Ticker'].str[0] == '^']

Empty DataFrame
Columns: [Ticker, Company Name, Exchange, Asset Type, IPO Date]
Index: []

In [21]:
df[df['Company Name'].str.contains('SPY')]

,Ticker,Company Name,Exchange,Asset Type,IPO Date
3105,DVSP,WEBs Defined Volatility SPY ETF,NASDAQ,ETF,2024-12-17
10277,SPYQ,TRADR 2X LONG SPY QUARTERLY ETF,NASDAQ,ETF,2024-10-01
11003,TSPY,TAPPALPHA SPY GROWTH & DAILY INCOME ETF,NASDAQ,ETF,2024-08-15
12149,YSPY,GraniteShares YieldBOOST SPY ETF,NASDAQ,ETF,2025-02-26

In [23]:
df[df['Company Name'].str.contains('SPX')]

      Ticker          Company Name Exchange Asset Type    IPO Date
10259   SPXC  SPX Technologies Inc     NYSE      Stock  1985-07-01

In [24]:
df[df['Company Name'].str.contains('QQQ')]

,Ticker,Company Name,Exchange,Asset Type,IPO Date
3102,DVQQ,WEBs Defined Volatility QQQ ETF,NASDAQ,ETF,2024-12-17
8803,PSQ,ProShares Short QQQ -1x Shares,NYSE ARCA,ETF,2006-06-21
8916,QBIG,Invesco Top QQQ ETF,NASDAQ,ETF,2024-12-04
8958,QID,PROSHARES ULTRASHORT QQQ,NYSE ARCA,ETF,2006-07-13
8966,QLD,PROSHARES ULTRA QQQ,NYSE ARCA,ETF,2006-06-21
8990,QQA,Invesco QQQ Income Advantage ETF,NASDAQ,ETF,2024-07-17
8991,QQDN,ProShares UltraShort Top QQQ,NASDAQ,Stock,2025-06-12
8994,QQHG,Invesco QQQ Hedged Advantage ETF,NASDAQ,ETF,2025-05-07
8996,QQLV,Invesco QQQ Low Volatility ETF,NASDAQ,ETF,2024-12-04
8998,QQQ,Invesco QQQ Trust Series 1,NASDAQ,ETF,1999-03-10
9013,QQUP,ProShares Ultra Top QQQ,NASDAQ,Stock,2025-06-12
9014,QQXL,ProShares Ultra QQQ Top 30,NASDAQ,Stock,2025-08-15
10289,SQQQ,ProShares UltraPro Short QQQ -3x Shares,NASDAQ,ETF,2010-02-11
10908,TQQQ,PROSHARES ULTRAPRO QQQ,NASDAQ,ETF,2010-02-11
10909,TQQY,GraniteShares YieldBOOST QQQ ETF,NASDAQ,ETF,2025-02-26

In [25]:
df2 = scrapers.get_sp500_tickers(save_locally=True)
df2

/Users/casa/projects/var-simulation/.venv/lib/python3.13/site-packages/urllib3/connectionpool.py:1097: InsecureRequestWarning: Unverified HTTPS request is being made to host 'en.wikipedia.org'. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#tls-warnings
  warnings.warn(

,Ticker,Company Name,Sector,Industry,Location,Date Added,CIK,Founded
0,MMM,3M,Industrials,Industrial Conglomerates,"Saint Paul, Minnesota",1957-03-04,0000066740,1902
1,AOS,A. O. Smith,Industrials,Building Products,"Milwaukee, Wisconsin",2017-07-26,0000091142,1916
2,ABT,Abbott Laboratories,Health Care,Health Care Equipment,"North Chicago, Illinois",1957-03-04,0000001800,1888
3,ABBV,AbbVie,Health Care,Biotechnology,"North Chicago, Illinois",2012-12-31,0001551152,2013 (1888)
4,ACN,Accenture,Information Technology,IT Consulting & Other Services,"Dublin, Ireland",2011-07-06,0001467373,1989
...,...,...,...,...,...,...,...,...
498,XYL,Xylem Inc.,Industrials,Industrial Machinery & Supplies & Components,"White Plains, New York",2011-11-01,0001524472,2011
499,YUM,Yum! Brands,Consumer Discretionary,Restaurants,"Louisville, Kentucky",1997-10-06,0001041061,1997
500,ZBRA,Zebra Technologies,Information Technology,Electronic Equipment & Instruments,"Lincolnshire, Illinois",2019-12-23,0000877212,1969
501,ZBH,Zimmer Biomet,Health Care,Health Care Equipment,"Warsaw, Indiana",2001-08-07,0001136869,1927
502,ZTS,Zoetis,Health Care,Pharmaceuticals,"Parsippany, New Jersey",2013-06-21,0001555280,1952

In [5]:
qqq = scrapers.scrape_qqq_holdings()
qqq

/Users/casa/projects/var-simulation/.venv/lib/python3.13/site-packages/urllib3/connectionpool.py:1097: InsecureRequestWarning: Unverified HTTPS request is being made to host 'companiesmarketcap.com'. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#tls-warnings
  warnings.warn(

    Ticker             Company Name  Weight
0     NVDA              NVIDIA Corp  0.0990
1     MSFT           Microsoft Corp  0.0835
2     AAPL                Apple Inc  0.0831
3     AVGO             Broadcom Inc  0.0571
4     AMZN           Amazon.com Inc  0.0508
..     ...                      ...     ...
96     CDW              CDW Corp/DE  0.0011
97     ARM     ARM Holdings PLC ADR  0.0011
98      ON    ON Semiconductor Corp  0.0011
99    LULU  Lululemon Athletica Inc  0.0011
100    GFS      GLOBALFOUNDRIES Inc  0.0011

[101 rows x 3 columns]

In [31]:
import sqlite3

conn = sqlite3.connect('../database.db')
cursor = conn.cursor()

cursor.execute('DROP TABLE qqq_holdings_live')
conn.commit()
conn.close()

OperationalError: no such table: qqq_holdings_live

In [ ]:
import yfinance as yf
import pandas as pd

def get_snp_market_caps(sp: pd.DataFrame) -> pd.DataFrame:
    """
    Get market capitalizations for S&P 500 companies.

    Args:
        sp (pd.DataFrame): DataFrame containing S&P 500 tickers.

    Returns:
        pd.DataFrame: DataFrame with tickers and their market capitalizations.
    """
    
    df2 = sp[sp['Asset Type'] == 'Common Stock']
    all = yf.Tickers(' '.join(df2['Ticker'].tolist()))
    marketcaps = {ticker: info.fast_info.get('marketCap', None) for ticker, info in all.tickers.items()}

    return pd.DataFrame.from_dict(marketcaps,orient='index', columns=['Market Cap']).reset_index().rename(columns={'index':'Ticker'})

In [ ]:
stock = yf.Ticker('AAPL')
stock.fast_info.get('marketCap')

3829117264758.606

In [14]:
all.tickers.get('AAPL').fast_info.get('marketCap')

3829117264758.606

In [ ]:
market_caps = scrapers.get_snp_market_caps(df2)
market_caps

In [27]:
df = pd.read_csv('../data/sp500_companies.csv')
df

,Ticker,Company Name,Sector,Industry,Location,Date Added,CIK,Founded
0,MMM,3M,Industrials,Industrial Conglomerates,"Saint Paul, Minnesota",1957-03-04,66740,1902
1,AOS,A. O. Smith,Industrials,Building Products,"Milwaukee, Wisconsin",2017-07-26,91142,1916
2,ABT,Abbott Laboratories,Health Care,Health Care Equipment,"North Chicago, Illinois",1957-03-04,1800,1888
3,ABBV,AbbVie,Health Care,Biotechnology,"North Chicago, Illinois",2012-12-31,1551152,2013 (1888)
4,ACN,Accenture,Information Technology,IT Consulting & Other Services,"Dublin, Ireland",2011-07-06,1467373,1989
...,...,...,...,...,...,...,...,...
498,XYL,Xylem Inc.,Industrials,Industrial Machinery & Supplies & Components,"White Plains, New York",2011-11-01,1524472,2011
499,YUM,Yum! Brands,Consumer Discretionary,Restaurants,"Louisville, Kentucky",1997-10-06,1041061,1997
500,ZBRA,Zebra Technologies,Information Technology,Electronic Equipment & Instruments,"Lincolnshire, Illinois",2019-12-23,877212,1969
501,ZBH,Zimmer Biomet,Health Care,Health Care Equipment,"Warsaw, Indiana",2001-08-07,1136869,1927
502,ZTS,Zoetis,Health Care,Pharmaceuticals,"Parsippany, New Jersey",2013-06-21,1555280,1952

In [29]:
df['Market Cap'] = df.Ticker.map(market_caps)
df

,Ticker,Company Name,Sector,Industry,Location,Date Added,CIK,Founded,Market Cap
0,MMM,3M,Industrials,Industrial Conglomerates,"Saint Paul, Minnesota",1957-03-04,66740,1902,8.450703e+10
1,AOS,A. O. Smith,Industrials,Building Products,"Milwaukee, Wisconsin",2017-07-26,91142,1916,1.018711e+10
2,ABT,Abbott Laboratories,Health Care,Health Care Equipment,"North Chicago, Illinois",1957-03-04,1800,1888,2.343888e+11
3,ABBV,AbbVie,Health Care,Biotechnology,"North Chicago, Illinois",2012-12-31,1551152,2013 (1888),4.268754e+11
4,ACN,Accenture,Information Technology,IT Consulting & Other Services,"Dublin, Ireland",2011-07-06,1467373,1989,1.546489e+11
...,...,...,...,...,...,...,...,...,...
498,XYL,Xylem Inc.,Industrials,Industrial Machinery & Supplies & Components,"White Plains, New York",2011-11-01,1524472,2011,3.647494e+10
499,YUM,Yum! Brands,Consumer Discretionary,Restaurants,"Louisville, Kentucky",1997-10-06,1041061,1997,4.182185e+10
500,ZBRA,Zebra Technologies,Information Technology,Electronic Equipment & Instruments,"Lincolnshire, Illinois",2019-12-23,877212,1969,1.550828e+10
501,ZBH,Zimmer Biomet,Health Care,Health Care Equipment,"Warsaw, Indiana",2001-08-07,1136869,1927,1.996411e+10
502,ZTS,Zoetis,Health Care,Pharmaceuticals,"Parsippany, New Jersey",2013-06-21,1555280,1952,6.489092e+10

In [30]:
df['Weight'] = df['Market Cap'] / df['Market Cap'].sum()
df

,Ticker,Company Name,Sector,Industry,Location,Date Added,CIK,Founded,Market Cap,Weight
0,MMM,3M,Industrials,Industrial Conglomerates,"Saint Paul, Minnesota",1957-03-04,66740,1902,8.450703e+10,0.001341
1,AOS,A. O. Smith,Industrials,Building Products,"Milwaukee, Wisconsin",2017-07-26,91142,1916,1.018711e+10,0.000162
2,ABT,Abbott Laboratories,Health Care,Health Care Equipment,"North Chicago, Illinois",1957-03-04,1800,1888,2.343888e+11,0.003719
3,ABBV,AbbVie,Health Care,Biotechnology,"North Chicago, Illinois",2012-12-31,1551152,2013 (1888),4.268754e+11,0.006773
4,ACN,Accenture,Information Technology,IT Consulting & Other Services,"Dublin, Ireland",2011-07-06,1467373,1989,1.546489e+11,0.002454
...,...,...,...,...,...,...,...,...,...,...
498,XYL,Xylem Inc.,Industrials,Industrial Machinery & Supplies & Components,"White Plains, New York",2011-11-01,1524472,2011,3.647494e+10,0.000579
499,YUM,Yum! Brands,Consumer Discretionary,Restaurants,"Louisville, Kentucky",1997-10-06,1041061,1997,4.182185e+10,0.000664
500,ZBRA,Zebra Technologies,Information Technology,Electronic Equipment & Instruments,"Lincolnshire, Illinois",2019-12-23,877212,1969,1.550828e+10,0.000246
501,ZBH,Zimmer Biomet,Health Care,Health Care Equipment,"Warsaw, Indiana",2001-08-07,1136869,1927,1.996411e+10,0.000317
502,ZTS,Zoetis,Health Care,Pharmaceuticals,"Parsippany, New Jersey",2013-06-21,1555280,1952,6.489092e+10,0.001030

In [31]:
df.drop(columns=['CIK']).to_csv('../data/sp500_caps.csv', index=False)